body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 14px;
}

.ReactTable .rt-th, .ReactTable .rt-td {
  white-space: normal !important;
}

.btn-danger::after, .btn-primary::after {
    content: none ;
}